<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.commontime.cordova.allowbackup" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>allowbackup</name>
    <platform name="android">
        <framework src="src/allowbackup" custom="true" />
    </platform>
</plugin>
